<form [formGroup]="RegisterForm" (ngSubmit)="Register()">
  <div class="container">
    <div class="form-content">
      <div class="segment">
        <h1>Sign Up</h1>
      </div>
      <label style="margin-bottom: 5px">
        <input
          type="text"
          class="input"
          formControlName="UserName"
          placeholder="Enter your Username"
          id="Username"
          name="Username"
        />
      </label>
      <mat-error
        *ngIf="RegisterForm.get('UserName')?.hasError('serverError')"
        class="error"
      >
        {{ RegisterForm.get("UserName")?.getError("serverError") }}
      </mat-error>
      <label style="margin-bottom: 5px">
        <input
          type="number"
          class="input"
          formControlName="Phone"
          placeholder="Enter your Phone Number"
          id="PhoneNumber"
          name="PhoneNumber"
        />
      </label>
      @if(RegisterForm.get('Phone')?.touched && RegisterForm.get('Phone')?.hasError('required')){
      <mat-error class="error"> Please Enter a valid Email</mat-error>
      }

      <label class="inputForm" style="margin-bottom: 5px">
        <input        
        type="email"
        class="input"
        formControlName="Email"
        placeholder="Enter your Email"
        id="email"
        name="email"
        />
      </label>
      @if(RegisterForm.get('Email')?.touched &&
      (RegisterForm.get('Email')?.hasError('email') ||
      RegisterForm.get('Email')?.hasError('required'))){
      <mat-error class="error"> Please Enter a valid Email</mat-error>
      }


      <label class="inputForm" style="margin-bottom: 5px">
        <input
          class="input"
          matInput
          formControlName="Password"
          placeholder="Enter your Password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </label>
      @if(RegisterForm.get('Password')?.touched &&
      (RegisterForm.get('Password')?.hasError('pattern') ||
      RegisterForm.get('Password')?.hasError('required'))){
      <mat-error class="error"> Please Enter a valid password</mat-error>
      }

      <label class="inputForm" style="margin-bottom: 5px">
        <input
          type="text"
          formControlName="ConfirmPassword"
          placeholder="ConfirmPassword"
        />
      </label>
      <mat-error
        *ngIf="
          RegisterForm.get('ConfirmPassword')?.hasError('required') &&
          RegisterForm.get('ConfirmPassword')?.touched
        "
        class="error"
      >
        Please Enter a valid password</mat-error
      >
      <br />
      <button class="red" type="submit">
        <i class="fa-solid fa-lock"></i> Sign up
      </button>
      <br /><br />
      <p class="p">
        Already have an account? <a class="span" routerLink="home">Sign In</a>
      </p>
    </div>
  </div>
</form>
