.container {
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
  padding: 20px;
  min-height: 500px;
  min-width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.grid-item p {
  margin: 0 0 10px;
  color: #34495e;
}

.date-container {
  align-self: flex-end;
  font-size: smaller;
  text-align: right;
  color: #7f8c8d;
}

.btn-success {
  background: linear-gradient(135deg, #28a745, #218838);
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  margin-top: 10px;
}

.btn-success:hover {
  background: linear-gradient(135deg, #218838, #1e7e34);
  transform: translateY(-2px);
}

.round-button {
  width: 50px;
  height: 50px;
  background-color: #00b7ff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.round-button:hover {
  background-color: #82c9e4;
  cursor: pointer;
}
