mat-dialog-content {
    padding: 20px;
  }
  
  mat-dialog-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  mat-dialog-content p {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  mat-dialog-actions button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  mat-dialog-actions button:hover {
    background-color: #45a049; /* Darker green */
  }
  