<div class="container">
    <mat-tab-group>
      <mat-tab label="My Requests">  
        <div class="grid-container">
          <div class="grid-item" *ngFor="let item of requests$ | async">
            <div>
              <p><strong>Donor Name: {{ item.address.createdBy }}</strong></p>
              <p><strong>Food Type: {{ item.foodType }}</strong></p>
            </div>
            <div class="content">
            </div>
            <div class="date-container">
              <p class="date">
                <strong> Expires in: {{ getRemainingTime(item.expDate) }}</strong>
            </p>
            </div>
          </div>
        </div>
        
        <button type="button" class="btn btn-success" (click)="openDialog()" >New Request</button><br><br>
      </mat-tab>
    </mat-tab-group>
  </div>
  