<header>
  <h1 class="Heading">Food For <strong class="Hunger">Hunger</strong></h1>
  <nav class="nav-bar">
    <div class="nav-content">
      <ul>
        <li>
          <button routerLink="/Home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a>Home</a>
          </button>
        </li>
        <li>
          <button routerLink="/about" routerLinkActive="active">
            <a>About Us</a>
          </button>
        </li>
        <li>
          <button routerLink="/contact" routerLinkActive="active">
            <a>Contact Us</a>
          </button>
        </li>
        <li>
          <button routerLink="/login" routerLinkActive="active">
            <a>Login</a>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
